$vthick_blue:rgb(10, 25, 47);
$vlite_blue:rgb(136, 146, 176);
$med_blue:rgb(204, 214, 246);
$lightning:rgb(100, 255, 218);
$abel_font:'Abel',sans-serif; 
$secondary_font:'Indie Flower',sans-serif;
$transition:0.3s all linear;