$vthick_blue:rgb(10, 25, 47);
$vlite_blue:rgb(136, 146, 176);
$med_blue:rgb(204, 214, 246);
$proj_bg:rgb(23,42,69);
$proj_color:rgb(168,178,209);
$lightning:rgb(100, 255, 218);
$abel_font:'Abel',sans-serif; 
$secondary_font:'Indie Flower',sans-serif;
$transition:0.3s all linear;
$box-shadow:rgba(2,12,27,0.7) 0px 10px 30px -15px;